body{
    margin: 0%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    height: 150px;
    background-color: #003366;
    color: white;
    padding: 32px;
    text-align: center;
    margin-bottom: 0px;

}
header h1{
    font-size: 2rem;
}
header p{
    color: white;
}
main{
    margin-top: 0px;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.info h2,p{
     margin-left: 20px;
     margin-bottom: 0px;
     color:rgb(82, 81, 81);
}
main{
    width: 100%;
}
.info h2{
    margin-top: 5px;
    color: #003366;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin-top: 50px;
    height: 170px;
    background-color: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}
.KeyProjects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin-top: 50px;
    height: 230px;
    background-color: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}
.KeyProjects h2,p{
    margin-left:20px ;
    color: #003366;
}
.KeyProjects p{
    color: rgb(82, 81, 81);
}
.Contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin-top: 50px;
    height: 200px;
    background-color: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin-bottom: 50px;

}
.Contact h2,p{
    margin-left:20px ;
    color: #003366;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
        background: #eee;
        text-align: center;
        height: 90px;
}